*{
    padding: 0;
    margin: 0;
    outline: 0;
}
:root{
   
        --primary-color:#102B3F;
        --secondary-color: #FCEDF0;
        --hint: #ff3d64;
        --green:#1C9C76;
    }


    .blog{
        width: 80%;
        margin: 1rem auto;
        height: auto;
        padding-bottom: 1rem;
        
    }

    .blog h2{
        width: fit-content;
        display: block;
    }
    .blog h2 span{
        color: var(--hint);
    }
    .cardParentB{
        width: 100%;
        margin: 1rem 0;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 16px;


    }

    @media screen and (max-width:1000px){
        .cardParentB{
        grid-template-columns: 1fr 1fr;
        padding: 0;
        }
    }
    
    @media screen and (max-width:768px){
        .cardParentB{
        grid-template-columns:  1fr;
        padding: 0;
     
    }}

    .cardB{
       
         
        background-color: white;
        /* padding:0.5rem; */
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       width: 80%;
        border-radius: 1rem;
        /* max-height: 90%; */
        padding: 1rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        transition: all 0.2s ease-in-out;
        justify-self: center;
    }

.cardB:hover{
    transform: scale(1.05);
    transition: all 0.2s  ease-in-out;

    }

   
    .cardB small{
       
        margin-bottom: 0.2rem;
    }
    .cardB p{

        font-size: 0.92rem;
        margin-bottom: 0.5rem;
    }

  

    .codeB{

        width: 100%;
        margin-top: 0.5rem;
    
    }

    .liveB{
        background-color: var(--green);
        border-radius: 1rem;
        color: white;
        border: none;
        padding: 4px 12px;
        margin-right: 1rem;
        font-size: 0.8rem;
        text-decoration: none;


    }
    .liveB:hover{
        background-color: var(--hint);
        cursor: pointer;
        color: white;
        transition: all 0.2s ease-in-out;
    }
  
    .viewB{
        text-decoration: none;
        color: white;
        background-color: var(--hint);
        border-radius: 1rem;
        padding: 0.5rem 1rem; 
        transition: all 0.2s ease-in-out;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width:fit-content;
        cursor: pointer;
        justify-content: center;
        display: flex;
    }

.viewB:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}