*{
    padding: 0;
    margin: 0;
    outline: 0;
}
:root{
   
        --primary-color:#102B3F;
        --secondary-color: #FCEDF0;
        --hint: #ff3d64;
        --green:#1C9C76;
    }


    .project{
        width: 80%;
        margin: 1rem auto;
        height: auto;
        padding-bottom: 1rem;
        
    }

    .project h2{
        width: 20%;
        display: block;
    }
    .project h2 span{
        color: var(--hint);
    }
    .cardParent{
       
        width: 90%;
        margin: 1rem auto;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 16px;
        padding: 0 50px;


    }

    @media screen and (max-width:1000px){
        .cardParent{
        grid-template-columns: 1fr 1fr;
        }
    }
    
    @media screen and (max-width:768px){
        .cardParent{
        grid-template-columns:  1fr;
        padding:0 20px;
    }}

    .card{
       
        background-color: white;
        padding:0.5rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        border-radius: 1rem;
        /* max-height: 90%; */
        padding: 2rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        transition: all 0.2s ease-in-out;
    }

.card:hover{
    transform: scale(1.05);
    transition: all 0.2s  ease-in-out;

    }

   
    .card small{
       
        margin-bottom: 0.2rem;
    }
    .card p{

        font-size: 0.92rem;
        margin-bottom: 0.5rem;
    }

    .techStack{
        width: max-content;
        margin-bottom: 0.5rem;
    }
    .techStack h6{
        color: white;
        background-color: var(--primary-color);
        display: inline;
        margin: 0.3rem 0.5rem;
        border-radius: 1rem ;
        padding: 0.4rem;
        margin-bottom: 0.5rem;
    }

    .code{

        width: 100%;
        margin-top: 0.5rem;
      
    
    }
    .code a{
        text-decoration: none;
    }

    .live{
        background-color: var(--green);
        border-radius: 1rem;
        color: white;
        border: none;
        padding: 0.3rem;
        margin-right: 1rem;
        font-size: 0.8rem;


    }
    .live:hover{
        background-color: var(--hint);
        cursor: pointer;
        color: white;
        transition: all 0.2s ease-in-out;
    }
    .source{
        background-color: transparent;
        border-radius: 1rem;
        color: var(--green);
        border: 1px solid var(--green);
        padding: 0.3rem;
        margin-right: 1rem;
        font-size: 0.8rem;
    }

    .source:hover{
        background-color: var(--green);
        cursor: pointer;
        color: white;
        transition: all 0.2s ease-in-out;
    }
  
    .viewA{
        text-decoration: none;
        color: white;
        background-color: var(--hint);
        border-radius: 1rem;
        padding: 0.5rem 1rem; 
        transition: all 0.2s ease-in-out;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width:fit-content;
        cursor: pointer;
        justify-content: center;
        display: flex;
    }

.viewA:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}